body {
    background-color: #f2f2f2;
    font-family:'Global Sans Serif';
}



.container {
    margin:0;
    max-width:none;
    max-height:none;
}

.grid{


}

.leftcolumn { /*Left Column**********************/
    position: absolute;
    margin: 10px;
    margin-left: 80px;
    right: 65%;
    height: auto;
    background-color: white;
    color: gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imageandname {
    position: static;
    top: 10px;
    left: 10px;
    right: 70%;
    bottom: 70%;
    display: block;
    width: 100%;
}
.name {
    color: black;
    font-weight: bold;
    position: absolute;
    left: 10px;
    top: 210px;
    padding: 10px;
    display: block;
}


.profilephoto {
    position: static;
    height: 100%;
    width: 100%;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

.infos {
    position: static;
    left: 10px;
    right: 70%;
    padding: 15px;
   
}


.skills {
    position: static;
    left: 10px;
    right: 70%;
    padding: 10px;
}

.languages {
    position: static;
    left: 10px;
    right: 70%;
    padding: 10px;
}

.rightcolumn { /*Right Column**********************/
    
    position: absolute;
    margin:10px ;
    margin-right:80px;
    left:35%;
    height:auto;
    width:auto;
    color: gray;
}

.workexp {
    background-color: white;
    padding: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.education {
    background-color: white;
    padding: 20px;
    padding-bottom:5px;
    padding-top:5px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.findme { /*Footer*********************/
    text-align: center;
    position: absolute;
    top: 200%;
    width: 100%;
    background-color: teal;
    display: block;
}


.grey-progress{
    background-color:lightgray;
    border-radius:50px;
}

.teal-progress {
    background-color: teal;
    color: white;
    border-radius: 50px;
    text-align: center;
}

.icon{
    position:absolute;
    margin-top:15px;
}

.padding{

    padding:15px;
    margin-left:10px;

}

.padding2 {
    padding: 15px;
    margin-left: 25px;
}
.icon2 {
    position: absolute;
    margin-top: 15px;
}

.w3-container{
    margin-left:10px;
}

.h5-opacity{
   opacity:0.9;
   font-size:18px;
   font-weight:bold;
}

.h6-teal{
    font-size:17px;
    color:teal;
}

.w3-margin-right {
    margin-top: 20px;
}

.currentSpan {
    background-color: teal;
    color: white;
    font-weight: bold;
    padding: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
    border-radius:5px;
}
.workexp p{
    color:black;

}

.education p{
    color:black;
}